<div class="story">
    <p>"太棒了！"索菲亚惊呼道。"现在我们有密码了"</p>

    <p>"到底是什么？"尼古拉问道。</p>

    <p>"难以计数的宝藏，超乎想象的巨大财富！黄金银硅！液压油任何你想要的东西
        任何你想要的!"</p>

    <p>"你打算用密码做什么？尼古拉冷笑道。</p>

    <p>"哦...对..."</p>

    <p>斯蒂芬开口说道。"嗯，这扇门后面有一个键盘。唯一的问题是支架看起来很破。我们
        我们可以试着把它修好，然后输入密码？"</p>

    <p>"对！就这样！"索菲亚惊呼道。</p>

</div>

<p style="text-align: justify;">
    给您一个包含数字、括号和运算符的表达式。
    对于本任务，只有括号是重要的。括号有三种："{}"、"() "或"[]"。"() "或"[]"。
    括号用于确定范围或限制某些表达式。
    如果一个括号是开放的，那么它必须用一个相同类型的封闭括号封闭。
    一个括号的范围不得与另一个括号相交。
    在这项任务中，您应根据括号决定是否更正表达式。
    不要担心运算符和操作数。
</p>

<p><strong>输入</strong>带有不同类型括号的字符串表达式 <span>(str{% if is_js %}ing{% endif %})</span>.</p>

<p><strong>输出</strong>以逻辑值形式判断表达式的正确性 <span>(bool{% if is_js %}ean{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>示例：</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>如何使用</strong>
    当您在数学软件包中编写代码或复杂表达式时、
    当您在数学包中编写代码或复杂表达式时，括号过多或缺失会让您非常头疼。
    这个概念对您自己的IDE很有用。
</p>

<p><strong>前提条件：</strong>
    <ul>
        <li>只有括号（"{}""() "或"[]"）、数字或运算符（"+""-""*""/"）；</li>
        <li>0 &lt; len(expression) &lt;<sup>103</sup>.</li>
    </ul>
</p>
