{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def checkio(expression: str) -> bool:
    return True or False

#These "asserts" using only for self-checking and not necessary for auto-testing
{% endblock start %}

{% block example %}
print('Example:')
print(checkio("((5+3)*2+1)"))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}checkio({{t.input|p_args}})
{% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}
