<div class="story">
    <p>"Чудово!" Вигукнула Софія. "Тепер у нас є пароль"</p>

    <p>"До чого саме?" Перепитав Нікола.</p>

    <p>"До незліченних скарбів, неймовірних багатств! Золото! Срібло! Кремній! Гідравлічна рідина! Все, що ваша душа
        забажає!"</p>

    <p>"І що ти збираєшся робити, маючи пароль до абсолютно нічого?" Нікола посміхнувся.</p>

    <p>"О... Так..."</p>

    <p>Стівен заговорив. "Ну, на цих дверях ззаду є клавіатура. Єдине, що кронштейни виглядають досить розбитими. Ми
        спробувати полагодити їх, а потім ввести пароль?"</p>

    <p>"Так! Саме так!" Вигукнула Софія.</p>

</div>

<p style="text-align: justify;">
    Вам задано вираз з числами, дужками та операторами.
    У цій задачі важливими є лише дужки. Дужки бувають трьох видів: "{}" "()" або "[]".
    Дужки використовуються для визначення області видимості або для обмеження деякого виразу.
    Якщо дужка відкрита, то вона повинна бути закрита дужкою того ж типу.
    Область дії дужок не повинна перетинатися з іншими дужками.
    У цьому завданні вам потрібно прийняти рішення, виправляти вираз чи ні, виходячи з дужок.
    Не турбуйтесь про оператори та операнди.
</p>

<p><strong>Вхідні дані:</strong> Вираз з дужками різних типів у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.</p>

<p><strong>Вихідні дані:</strong> Вердикт про коректність виразу у вигляді логічного значення <span>(bool{% if is_js %}ean{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>Приклади:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Як використовується:</strong>
    Коли ви пишете код або складні вирази в математичному пакеті,
    ви можете отримати великий головний біль, коли справа доходить до зайвих або пропущених дужок.
    Ця концепція може бути корисною для вашої власної IDE.
</p>

<p><strong>Передумови:</strong>
    <ul>
        <li>У виразі є лише дужки ("{}" "()" або "[]"), цифри або оператори ("+" "-" "*" "/");</li>
        <li>0 &lt; len(вираз) &lt;<sup>103</sup>.</li>
    </ul>
</p>
