<div class="story">
    <p>"Génial!" S'exclame Sofia. "Maintenant nous avons le mot de passe."</p>

    <p>"Pour quoi exactement?" Demanda Nikola.</p>

    <p>"Des trésors inouïs, des richesses inimaginables! De l'or! De l'argent! Du silicium! Fluide hydraulique! Tout ce que votre cœur
        tout ce que votre cœur désire!"</p>

    <p>"Et vous allez faire quoi avec un mot de passe qui ne correspond à rien?" Nikola sourit.</p>

    <p>"Oh... C'est vrai..."</p>

    <p>Stephen prend la parole. "Cette porte est équipée d'un clavier. Le seul problème, c'est que les supports ont l'air assez abîmés. On pourrait essayer de le réparer et de le perforer
        on pourrait essayer de les réparer et de taper le mot de passe?"</p>

    <p>"OUI! Ça! S'exclame Sofia.</p>

</div>

<p style="text-align: justify;">
    On vous donne une expression avec des nombres, des parenthèses et des opérateurs.
    Pour cette tâche, seules les parenthèses comptent. Il existe trois types de parenthèses: "{}", "()" ou "[]" "()" ou "[]".
    Les parenthèses sont utilisées pour déterminer la portée d'une expression ou pour la restreindre.
    Si une parenthèse est ouverte, elle doit être fermée par une parenthèse fermante du même type.
    La portée d'une parenthèse ne doit pas être coupée par une autre parenthèse.
    Dans cette tâche, vous devez prendre la décision de corriger ou non une expression en vous basant sur les crochets.
    Ne vous préoccupez pas des opérateurs et des opérandes.
</p>

<p><strong>Entrée:</strong> Une expression avec différents types de crochets sous la forme d'une chaîne de caractères <span>(str{% if is_js %}ing{% endif %})</span>.</p>

<p><strong>Sortie: un verdict sur l'exactitude de l'expression en tant que valeur logique:</strong> Un verdict sur l'exactitude de l'expression sous forme de valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>.</p>

<div class="for_info_only">
    <p><strong>Exemples:</strong></p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p class="for_info_only">
   <strong>Comment l'utiliser:</strong>
    Lorsque vous écrivez du code ou des expressions complexes dans un progiciel mathématique,
    vous pouvez avoir un énorme mal de tête lorsqu'il s'agit d'un excès ou d'un manque de parenthèses.
    Ce concept peut être utile pour votre propre IDE.
</p>

<p><strong>Conditions préalables:</strong>
    <ul>
        <li>Il n'y a que des parenthèses ("{}" "()" ou "[]"), des chiffres ou des opérateurs ("+" "-" "*" "/");</li>
        <li>0 &lt; len(expression) &lt;<sup>103</sup>.</li>
    </ul>
</p>
